# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.pyc

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
create-tftf
create-ffff
display-ffff
sign-ffff

# Output files
*.tftf

# Misc files
git-commit-template
.cproject
.project
.settings
.gitignore
*~

# Debug files
*.dSYM/
